@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color---1: #f5f7ff;
	--color---3: #0156ff;
	--color---4: #01a4ff;
	--color---5: #a2a6b0;
	--color---6: #cacdd8;
	--color---7: #000;
	--color---8: #c94d3f;
	--color---9: #78a962;
	--color---10: #666;
	--color---11: #020202;
	--color---12: #fff;
	--color---13: #FFB800;
	--color---14: #020203;
	--color---15: rgba(255, 255, 255, 0.5);
	--color---16: rgba(255, 255, 255,0.2);
	--color---17: rgba(255, 255, 255,0.6);
	--color---18: #25293180;
	--color---19: #E9A426;
}

.searchbarMob{
	@apply pl-36 py-2 pr-1 relative
}
.searchbarMob input{
	@apply w-full h-full absolute left-0 top-0  bg-yellow-400
}
.cartbox-shad{
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.14);
}